[user]
    email = contact@cordea.jp
    name = Yoshihiro Tanaka
[core]
    precomposeunicode = true
    autoCRLF = input
[push]
    default = matching
[alias]
    l = log --pretty=full --name-status
    s = status
    d = diff
    d1 = diff HEAD^..HEAD
    d2 = diff HEAD~2..HEAD
    ds = diff --staged
    do = diff 4b825dc642cb6eb9a060e54bf8d69288fbee4904..HEAD
[pull]
    rebase = false
